AWS_PROFILE=profile
AWS_DEFAULT_REGION=us-east-1
ENVIRONMENT=prod
TF_REMOTE_BUCKET=tfstate-remote
APP_GIT_REPOSITORY=github.com/x/y
API_HOST=https://api.pennsieve.io
API_HOST2=https://api2.pennsieve.io
API_KEY=someKey
API_SECRET=someSecret
PENNSIEVE_UPLOAD_BUCKET=