AWS_PROFILE=profile
AWS_DEFAULT_REGION=us-east-1
ENVIRONMENT=dev
TF_REMOTE_BUCKET=tfstate-remote
GIT_REPOSITORY=github.com/x/y
API_HOST=https://api.pennsieve.net
API_HOST2=https://api2.pennsieve.net
API_KEY=someKey
API_SECRET=someSecret
PENNSIEVE_UPLOAD_BUCKET=pennsieve-dev-uploads-v2-use1