*.env
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/tfplan
terraform/.terraform/*
terraform/terraform.tfstate
terraform/.terraform/*
*.zip
terraform/variables.tf
.vscode/settings.json
*.dot
*.svg
.DS_Store
*.log
terraform/backend.tf
terraform/remote-state/.terraform.lock.hcl
.gitignore
terraform/remote-state/.terraform/*
terraform/remote-state/tfplan
terraform/remote-state/terraform.tfstate.backup
*.tfbackend
*.tfvars
*.tfstate
application-deployments/dev/*
application-deployments/prod/*
